<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Writing Samples</h1><br>

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">

                <!-- Post 1 -->
                <article id="post-1" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1" data-slide-to="1"></li>

                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/blog-11.jpg" alt="" />
                                                    <div class="carousel-caption">

                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/blog-22.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                      
                                                    </div>
                                                </div>



                                            </div>

                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-1" >The ugly truth</a></div>
                                            <div class="clear"></div>
                                        </div>



                                        <div class="blog-content">
                                            <p>
                                              <center>This is my paper for the WPP exam.</center>
Are ugly people oppressed? Jonny Thakkar discusses the issue of people treat ugly people differently than pretty people in his article The Ugly Truth. The author’s argument is relevant within the greater social, legal and ethical contexts because our society treats beautiful people much better than ugly people, the lack of laws to protect ugly people from discrimination, and the difficulty in protecting ugly people.

</p>
<a href="./assets/pdf/WPP.pdf" target="_blank" class="pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

</div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1 -->


                <article id="post-2" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><br/>Application of Large-scale Multi-class Image Classification
</a></div>
                                            <div class="clear"></div>
                                        </div>



                                        <div class="blog-content"><p>
                                          <center>This is my paper for the research method class.</center>
                                            Abstract: Image classification is a complex process which depends upon various factors. In this paper, I reviewed the current activity of image classification methodologies and techniques, including convolution neural network(CNN) and residual neural network (resNet) methods. In addition to the prospects of image classification, I discussed the present techniques and issues. The focus will be on newer classification techniques which were developed to enhance pre-existing classification techniques. Moreover, an experiment was designed with colleagues to apply different neural networks to an image classification competition, and our current result achieves 70% accuracy in Kaggle leader board.

<p>
  <a href="./assets/pdf/Proposal.pdf" target="_blank" class="pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>




                                      </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                </article>





        </div>




    </div>
</div>
                                            </div>
                                            <!-- End .blog -->
