<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Skills</h1>

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Designs skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Photoshop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Illustrateur</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Indesign</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>Flash</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">35%</div>
            </div>
            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>HTML5,CSS3</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Javascript,ReactJS, NodeJs, and Ajax</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>DB SQL, MySQL </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Perl, PHP, or Unix shell scripting</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Office Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->

		</div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Swimming/Diving</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Watching Moive</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Chinese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
<br><br>
            <li>
                <h5>IELTS Speaking <span class="duration"><i class="fa fa-calendar color"></i> 2017</span></h5>
                <h6><span class="fa fa-book"></span> Grade: 7.5/9</h6>

            </li>
            <li>
                <h5>GRE <span class="duration"><i class="fa fa-calendar color"></i> 2017</span></h5>
                <h6><span class="fa fa-book"></span> Verbal: 152 Quantitative: 162</h6>

            </li>

        </div>




    </div>
     <!-- /.resume-right -->



     <!-- .resume-left -->
    <div class="col-md-6 resume-left">
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Graduate Assistant<span class="duration"><i class="fa fa-calendar color"></i> 2016 - 2018</span></h5>
                <h6><span class="fa fa-briefcase"></span> Ball State University</h6>
                <p>
                  &#8227Assisting the instructor in preparation of course materials and exams</br>&#8227Holding regularly scheduled office hours and providing individual and group assistance
</br>	&#8227Lecturing in class in the absence of the instructor, performing other course-related duties
</br>&#8227Graduate assistant in following classes: Computer Science 1, Web Programming, Mobile Software Development, Multitier Web Architectures, Distributed Processing and Networks, Forensics, Network Security
</p>
            </li>
            <li>
                <h5>Student Secretary <span class="duration"><i class="fa fa-calendar color"></i> 2014 - 2015</span></h5>
                <h6><span class="fa fa-briefcase"></span> Ball State University</h6>

                <p>&#8227Prepared Microsoft office documents, organized office files and run campus errands
</br> &#8227Assisted faculty, students and visitors, and answered phone calls
</br>&#8227While department moved back to a renovated building, instrumental in assisted
department staff and offered suggestions for packing, moving, and setting up the new
office </p>
            </li>

        </ul>


        <!-- /.attributes -->
        <br>

        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Master of Science <span class="duration"><i class="fa fa-calendar color"></i> 2016 - 2018</span></h5>
                <h6><span class="fa fa-book"></span> Ball State University</h6>
                <p>GPA:3.96/4.00, Graduate Merit Scholarships</p>
            </li>
            <li>
                <h5>Bachelor of Science <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2016</span></h5>
                <h6><span class="fa fa-book"></span> Ball State  University</h6>
                <p>GPA:3.89/4.00, Dean's Lists </p>
            </li>
        </ul>

        <br>
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Required Comm Class</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Fundamentals of Public Comm<span class="duration"><i class="fa fa-calendar color"></i> 2014 Fall</span></h5>
                <h6><span class="fa fa-book"></span> Grade: A</h6>
                <p>Principles and practice of effective oral communication;
                <br/>  analysis and evaluation of the speaking-listening process;
                <br/>   preparation in message construction, emphasizing the selection, organization, and delivery of materials.</p>
            </li>

        </ul>


    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>


</div>
<!-- End .resume -->
