<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb icecreamWeb motionGraphic logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">Website</span></li>
            <li><span class="filter" data-filter="icecreamWeb">Video</span></li>
            <li><span class="filter" data-filter="motionGraphic">Motion Graphic</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">
        

          <!-- .portfolio -->
          <div class="portfolio motionGraphic" data-cat="motionGraphic">
              <!-- .portfolio-wrapper -->
              <div class="portfolio-wrapper">
                  <a href="images/portfolio/Beauty.mp4" title="xx">
                      <video width="320" height="240" autoplay>
                        <source src="images/portfolio/Beauty.mp4" alt="Beauty.mp4" type="video/mp4">
                      </video>
                  </a>
              </div>
              <!-- /.portfolio-wrapper -->
          </div>
          <!-- /.portfolio -->


          <!-- .portfolio -->
          <div class="portfolio motionGraphic" data-cat="motionGraphic">
              <!-- .portfolio-wrapper -->
              <div class="portfolio-wrapper">
                  <a href="images/portfolio/11.jpg" title ="My favorite food in the world. Best for eating with friends during winters. " rel="portfolio">
                      <img src="images/portfolio/11.jpg" alt="Hot Pot" />
                      <div class="label">
                          <div class="label-text">
                              <a class="text-title">Hot Pot</a>
                              <span class="text-category">Chongqing, China</span>
                          </div>
                          <div class="label-bg"></div>
                      </div>
                  </a>
              </div>
              <!-- /.portfolio-wrapper -->
          </div>
          <!-- /.portfolio -->
          <!-- .portfolio -->
          <div class="portfolio motionGraphic" data-cat="motionGraphic">
              <!-- .portfolio-wrapper -->
              <div class="portfolio-wrapper">
                  <a href="images/portfolio/5.jpeg" title="A simple version of Hot Pot, best for people who eat alone." rel="portfolio">
                      <img src="images/portfolio/5.jpeg" alt="Malatang" />
                      <div class="label">
                          <div class="label-text">
                              <a class="text-title">Malatang</a>
                              <span class="text-category">Chengdu, China</span>
                          </div>
                          <div class="label-bg"></div>
                      </div>
                  </a>
              </div>
              <!-- /.portfolio-wrapper -->
          </div>
          <!-- /.portfolio -->


          <!-- .portfolio -->
          <div class="portfolio motionGraphic" data-cat="motionGraphic">
              <!-- .portfolio-wrapper -->
              <div class="portfolio-wrapper">
                  <a href="images/portfolio/7.jpg" title="Two years away from home. The day was rainy, so does my eyes. "rel="portfolio">
                      <img src="images/portfolio/7.jpg" alt="BMF" />
                      <div class="label">
                          <div class="label-text">
                              <a class="text-title">Going Home</a>
                              <span class="text-category">Henan, China</span>
                          </div>
                          <div class="label-bg"></div>
                      </div>
                  </a>
              </div>
              <!-- /.portfolio-wrapper -->
          </div>
          <!-- /.portfolio -->
          <!-- .portfolio -->
          <div class="portfolio motionGraphic" data-cat="motionGraphic">
              <!-- .portfolio-wrapper -->
              <div class="portfolio-wrapper">
                  <a href="images/portfolio/9.jpg" title="People who are allgeric to cat couldn't resist!"rel="portfolio">
                      <img src="images/portfolio/9.jpg" alt="BMF" />
                      <div class="label">
                          <div class="label-text">
                              <a class="text-title">Kitty</a>

                          </div>
                          <div class="label-bg"></div>
                      </div>
                  </a>
              </div>
              <!-- /.portfolio-wrapper -->
          </div>
          <!-- /.portfolio -->
          <!-- .portfolio -->
          <div class="portfolio motionGraphic" data-cat="motionGraphic">
              <!-- .portfolio-wrapper -->
              <div class="portfolio-wrapper">
                  <a href="images/portfolio/14.jpg" title ="My first flower plant" rel="portfolio">
                      <img src="images/portfolio/14.jpg" alt="BMF" />
                      <div class="label">
                          <div class="label-text">
                              <a class="text-title">Narcissus tazetta</a>

                          </div>
                          <div class="label-bg"></div>
                      </div>
                  </a>
              </div>
              <!-- /.portfolio-wrapper -->
          </div>
          <!-- /.portfolio -->
          <!-- .portfolio -->
          <div class="portfolio motionGraphic" data-cat="motionGraphic">
              <!-- .portfolio-wrapper -->
              <div class="portfolio-wrapper">
                  <a href="images/portfolio/2.jpg" rel="portfolio">
                      <img src="images/portfolio/2.jpg" alt="BMF" />
                      <div class="label">
                          <div class="label-text">
                              <a class="text-title">Narcissus tazetta</a>

                          </div>
                          <div class="label-bg"></div>
                      </div>
                  </a>
              </div>
              <!-- /.portfolio-wrapper -->
          </div>
          <!-- /.portfolio -->


          <!-- .portfolio -->
          <div class="portfolio catWeb" data-cat="catWeb">
              <!-- .portfolio-wrapper -->
              <div class="portfolio-wrapper">
                <a href="images/portfolio/cat2.png" title="A cat rescue website, mobile-first design. This is the site looks like on phone. " rel="portfolio">
                    <img src="images/portfolio/cat2.png" alt="Visual Infography" />
                      <div class="label">
                          <div class="label-text">
                              <a class="text-title">Phone version</a>
                              <span class="text-category">Web design</span>
                          </div>
                          <div class="label-bg"></div>
                      </div>
                  </a>
              </div>
              <!-- /.portfolio-wrapper -->
          </div>
          <!-- /.portfolio -->

          <!-- .portfolio -->
                <div class="portfolio catWeb" data-cat="catWeb">
                    <!-- .portfolio-wrapper -->
                    <div class="portfolio-wrapper">
                        <a href="images/portfolio/cat1.png" title="A cat rescue website, mobile-first design. This is the site looks like on desktop. " rel="portfolio">

                            <img src="images/portfolio/cat1.png" alt="website" />
                            <div class="label">
                                <div class="label-text">
                                    <a class="text-title">Laptop version</a>
                                    <span class="text-category">Web Design</span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </a>
                    </div>
                    <!-- /.portfolio-wrapper -->
                </div>
                <!-- /.portfolio -->






          <!-- .portfolio -->
          <div class="portfolio icecreamWeb" data-cat="icecreamWeb">
              <!-- .portfolio-wrapper -->
              <div class="portfolio-wrapper">
                  <a href="images/portfolio/icecream1.png" title=" The site is proposed to be a dynamic website for customers online ordering ice cream. User can register and login to order their favorites for a delivery. User is able to reset their password and receive an email with a random password. Various functionalities include: mobile-first design, multiple language support, tutorials for the site." rel="portfolio">
                      <img src="images/portfolio/icecream1.png" alt="Techlion" />
                      <div class="label">
                          <div class="label-text">
                              <a class="text-title">Desktop version</a>
                              <span class="text-category">Web Design</span>
                          </div>
                          <div class="label-bg"></div>
                      </div>
                  </a>
              </div>
              <!-- /.portfolio-wrapper -->
          </div>
          <!-- /.portfolio -->





            <!-- .portfolio -->
            <div class="portfolio icecreamWeb" data-cat="icecreamWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/icecream2.png" title="Used .NET to build interface, design relational model of database, and create the table structure in MySQL. Created responsive interfaces using HTML5, CSS, CSS3 and Bootstrap (Grid System, button, navigation etc.). Developed dynamic interfaces with JavaScript (such as validating data, event handling, object visibility and client interactivity, etc.). Used JQuery for selectors, event functions, effects, and modifying HTML. Used plug-ins for features such as navigation drawers, CAPTCHA verification, slides for the homepage, zoom-in-out for pictures.
" rel="portfolio">
                        <img src="images/portfolio/icecream2.png" alt="Graph Plotting" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Phone version</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->





            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
